html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background-color: rgba(32, 1, 1, 0.952);
    height: 130px;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
li a{
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif  ;
}
 
header img{
    float: right;
    height: 110px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius:50%;

}

.nav-main{
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90px;
    padding: 20px 0;
}
.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding:50px;
}

ol, ul {
    list-style: none;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYoDj4flPYBWbi4VCAHHD5ya--ZOtnoKOcyD6WxHgtWSRlGVjY5RUObEqM02ksEkHKf8&usqp=CAU");
    font-family: 'Montserrat', sans-serif;
    height: 665px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #C7C7C7;
    align-items: center;
    margin-left: 38%;
    font-size: 210%;
    font-family: cursive;
}



.todo {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 25px;
    margin-top: 10px;
  }

  .mision {
    max-width: 100%;
    background: #C7C7C7;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
  }

  .vision {
    background: #C7C7C7;
    justify-content: center;
    text-align: center;
     margin-right: 10px;
  }
  
  .metas {
    background: #C7C7C7;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .todo h2, .metas h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    font-family: cursive;
  }

  

  .texto {
    text-align: justify;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
  }



  
  .todo img, .metas img {
      height: 150px;
      width: 250px;
  }


  /* Estilos del footer */
footer {
    width: 100%;
    background: rgba(32, 1, 1, 0.952);
    color: white;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    padding: 20px;
    
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: rgba(32, 1, 1, 0.952);
}

.container-body{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

.colum1 {
    max-width: 400px;
}

.colum1 h6 {
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.952);
    margin-top: 20px;
}


.colum2{
    max-width: 400px;
}

.colum2 h6{
    font-size: 22px;
}

.fila {
    margin-top: 20px;
    display: flex;
}

.fila img {
    width: 36px;
    height: 36px;
}


.fila label{
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h6{
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}


.container-footer{
    width: 100%;
    background: rgba(32, 1, 1, 0.952);
}

.footer2{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: #ece3e3;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #ee4747;
}


@media screen and (max-width: 1100px) {

    .container-body{
        flex-wrap: wrap;
        font-size: 10px;
    }

    .colum1{
        max-width: 100%;
        font-size: 15px;
    }

    .colum2, .colum3{
        margin-top: 40px;
    }

  }
  @media screen and (max-width: 830px) {
    .nav-main ul li {
        font-size: 10px;
        padding: 15px;
        margin-right: 5%;

    }

    
    

    header img{
        margin-right: -11%;
        float: right;
        height: 65px;
        padding: 2em;
        padding-right: 0%;
        border-radius: 50%;
        padding:2em
        
     }


    .todo {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 20px;
        margin-left: 40%;
    }

    

    .todo h2 {
        font-size: 20px;
    }
    .texto {
        font-size: 10px;
    }

    .metas h2 {
        font-size: 20px;
    }

    .todo img, .metas img {
        height: 100px;
        width: 150px;
    }

    

  }

  @media screen and (max-width: 360px) {
    .nav-main ul li {
      font-size: 10px;
      padding: 15px;
      margin-right: 5%;

  }

 

  header img{
      margin-right: -11%;
      float: right;
      height: 65px;
      padding: 2em;
      padding-right: 0%;
      border-radius: 50%;
      padding:2em
      
   }
  }

  @media screen and (max-width: 667px) {
    .todo{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between; 
    }


    .mision {
        margin-top: 10px;
        margin-left: 18%;
        margin-right: 18%;
    }
    .vision {
        margin-left: 18%;
        margin-right: 18%;
    }

    .metas {
        margin-left: 18%;
        margin-right: 18%;
    }

    h1 {
        font-size: 20px;
        margin-left: 20%;
        margin-bottom: 10px;
    }

  
}